{% extends "base.html" %}
    {% block title%} Asteroid Viewer {% endblock %}
    {% block content%}
            <h1>Asteroids approaching Earth on {{yesterdayc}}</h1>
            {% for asteroid in asteroids %}
                <div class="collection">
                    <a href="{{asteroid.nasa_jpl_url}}" class="collection-item">
                        {% if asteroid.is_potentially_hazardous_asteroid %}
                            <span class="new badge red">Potentially Hazardous!</span>
                        {% endif %}
                        {{asteroid.name}}<br>
                        Min. Estimated Diameter: {{asteroid.estimated_diameter.kilometers.estimated_diameter_min}} km <br>
                        Min. Estimated Diameter: {{asteroid.estimated_diameter.kilometers.estimated_diameter_max}} km
                    </a>
                </div>

            {% endfor %}

    {% endblock %}
